*{
    margin: 0;
    padding: 0;
}

.container 
{
  width: 500px;
  background-color: aqua;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu
{
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
  margin: auto;
}
.menu li {
    list-style: none;   
    
}
.menu a {
  text-decoration: none;
}
.item
{
  border-top: 1px solid #b92d2d;
}
.btn
{
  display: block;
  padding: 16px 20px;
  background-color: rgb(200, 22, 22);
  color: #ffffff;
  position: relative;
}
.btn:before
{ 
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: rgb(200, 22, 22);
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.smenu
{
  background-color: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;

}
.smenu a
{
  display: block;
  padding: 16px 26px;
  color: #ffffff;
  font-size: 14px ;
  margin: 4px 0;
  position: relative;
}
.smenu a:before
{
   content: "";
  position: absolute;
   width: 6px;
   height: 100%;
   background-color: rgb(200, 22, 22);
   left: 0;
   top: 0;
   opacity: 0;

}
.smenu a:hover:before
{
  opacity: 1;
}
.item:target .smenu{
    max-height: 10em;
}
